/* Inizio Logo */
#img {
    width: 400px;
    height: 200px;
}
.logo {
    background-color:dodgerblue;
    background-image:url(/img/pattern.png);
}
/* Fine Logo */

/* Inizio Sottotitolo */
.sottotitolo {
    color: gray;
    margin: 0%;
}
.sottotitolo-azzurro {
    color: dodgerblue;
}
#data {
    margin-bottom: 20px;
}
/* Fine Sottotitolo */

/* Paragrafo 1 */
.giallo {
    background-color: yellow;
}
table {
    width: 100%;
}
th {
    text-align: left;
    width: 50px;
    background-color: cornflowerblue;
    color: white;
    font-weight:bold;
}
.azzurro {
    background-color:lightblue;
}


